{#

This file is part of wpa_web.

wpa_web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

wpa_web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with wpa_web.  If not, see <http://www.gnu.org/licenses/>.

#}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - wpa_web</title>
        <meta name="author" content="Tom Pitcher">
        <style type="text/css">
            body { width: 50%; margin: 0 auto; }
            header h1 { text-align: center; }
            header p { text-align: center; }
            nav ul { list-style: none; width: 100%; display: table; padding: 0; table-layout: fixed; }
            nav ul li { display: table-cell; width: auto; text-align: center; }
            footer { text-align: center; margin-top: 2em;}
            table { width: 100%; }
        </style>
    </head>
    <body>
        <header>
            <h1>wpa_web</h1>
            <p>HTTP interface for wpa_supplicant</p>
        </header>
        <nav>
            <ul>
                <li><a href="/">Status</a></li>
                <li><a href="/diagnostics">Diagnostics</a></li>
            </ul>
        </nav>
        <article>
            {% block article %}
            {% endblock %}
        </article>
        <footer>Licensed under the GNU GPL v3.</footer>
        <script src="js/scripts.js"></script>
    </body>
</html>
